<hello name="{{ name }}"></hello>

  <br>
    Judul &nbsp;&nbsp; &nbsp; :  <input type="text" [(ngModel)]="iJudul"/><br>
    Isi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : <input type="text" [(ngModel)]="iIsi"/><br>
    Tanggal : <input type="date" [(ngModel)]="iTanggal"/>
  <br><br>
  <button (click)="ADDNOTE()">ADD NOTE</button>  
  <button (click)="SAVE()">SAVE</button> 
  <br><br>
  


  <table border="1" style="width:100%;">
  <tr>
    <th>Judul</th>
    <th>Isi</th>
    <th>Tanggal</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let notes of note; let i = index">
    <td *ngIf="i >= 1" align="center">{{notes.judul}}</td>
    <td *ngIf="i >= 1" align="center">{{notes.isi}}</td>
    <td *ngIf="i >= 1" align="center">{{notes.tanggal}}</td>
    <td *ngIf="i >= 1" align="center"><img src="https://filebin.net/jkvqv1fpb0vtprub/star.png?t=utjluzht" style="width:10px; height:10px"></td>
  </tr>

</table>
  

  <!--<router-outlet></router-outlet>-->


